This Notebook will read in All-Seasons.csv and try to calculate a superior goals rating for each team

In [3]:
# Import Pandas Numpy and OS

import pandas as pd
import numpy as np 
import os

print('Imports complete - pandas ready to use')

Imports complete - pandas ready to use

In [4]:
# Create DF from All-Seasons.csv
try:
    all_seasons = pd.read_csv(r'data-csv\All-Seasons.csv', parse_dates=["Date"], dayfirst=True)
    print('DataFrame created successfully')
except:
    print('Something went wrong - check file is not open in Excel or make sure you have run the imports')
    quit()

# sort by Date highest to lowest
all_seasons.sort_values(by=['Date'], ascending=False, inplace=True)

DataFrame created successfully

H    4917
A    3009
D    2774
Name: FTR, dtype: int64

In [40]:

TotalGames = all_seasons.FTR.count()

HomeWins   = all_seasons.loc[all_seasons.FTR == 'H', 'FTR'].count()
AwayWins   = all_seasons.loc[all_seasons.FTR == 'A', 'FTR'].count()
Draws      = all_seasons.loc[all_seasons.FTR == 'D', 'FTR'].count()

print('=====================================================================')
print('Percentage of Home Wins, Away Wins and Draws across all seasons      ')
print('=====================================================================')
print('=====================================================================')
print('Total \t Home(%) \t Away(%) \t Draws(%)                             ')
print('=====================================================================')
print('%d \t %.2f \t\t %.2f \t\t %.2f'%( TotalGames, ((HomeWins/TotalGames)*100), ((AwayWins/TotalGames)*100), ((Draws/TotalGames)*100) ))

=====================================================================
Percentage of Home Wins, Away Wins and Draws across all seasons
=====================================================================
=====================================================================
Total 	 Home(%) 	 Away(%) 	 Draws(%)
=====================================================================
10700 	 45.95 		 28.12 		 25.93

In [63]:
# Create a list of the unique teams in premier league
# assume that every team will appear as the home team

# Create DF from Seasons-20-21.csv
try:
    current_season = pd.read_csv(r'data-csv\Season-20-21.csv', parse_dates=["Date"], dayfirst=True)
    print('DataFrame created successfully')
except:
    print('Something went wrong - check file is not open in Excel or make sure you have run the imports')
    quit()

# sort by Date highest to lowest
current_season.sort_values(by=['Date'], ascending=False, inplace=True)

# Numpy array with list of unique team names 
Teams = current_season.HomeTeam.unique()
# create DF from numoy array
Teams = pd.DataFrame(Teams, columns=['Team'])
# drop any NaN rows
Teams.dropna(inplace=True)

Teams

DataFrame created successfully

                Team
0           Man City
1           West Ham
2            Chelsea
3          Tottenham
4          Liverpool
5          West Brom
6           Brighton
7        Aston Villa
8   Sheffield United
9            Burnley
10            Fulham
11    Crystal Palace
12           Everton
13         Leicester
14         Newcastle
15             Leeds
16           Arsenal
17        Man United
18       Southampton
19            Wolves

In [80]:
# goals scored / goals conceded for the last 6 games 
TeamA = 'Arsenal'

HG = (current_season.loc[ (current_season.HomeTeam == TeamA), 'FTHG' ]).head(6).sum()
AG = (current_season.loc[ (current_season.AwayTeam == TeamA), 'FTAG' ]).head(6).sum()

print(current_season.loc[ ((current_season.HomeTeam == "Arsenal") | (current_season.AwayTeam == "Arsenal")), 'FTHG'].head(6).sum())

print(current_season.loc[ ((current_season.HomeTeam == "Arsenal") | (current_season.AwayTeam == "Arsenal")), 'FTAG'].head(6).sum())

current_season.loc[ ((current_season.HomeTeam == "Arsenal") | (current_season.AwayTeam == "Arsenal"))].head(6)

9
8

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
265,E0,2021-03-06,Burnley,Arsenal,1,1,D,1,1,D,...,1.79,0.75,1.89,2.04,1.90,2.02,1.94,2.08,1.87,2.02
253,E0,2021-02-28,Leicester,Arsenal,1,3,A,1,2,A,...,1.74,-0.25,2.01,1.92,1.99,1.93,2.07,1.93,2.00,1.88
244,E0,2021-02-21,Arsenal,Man City,0,1,A,0,1,A,...,2.23,1.25,1.83,2.10,1.86,2.07,1.95,2.13,1.84,2.05
231,E0,2021-02-14,Arsenal,Leeds,4,2,H,3,0,H,...,2.29,-0.75,2.10,1.83,2.08,1.83,2.12,1.98,2.04,1.85
215,E0,2021-02-06,Aston Villa,Arsenal,1,0,H,1,0,H,...,2.14,0.25,1.82,2.11,1.83,2.11,1.94,2.16,1.83,2.07
206,E0,2021-02-02,Wolves,Arsenal,2,1,H,1,1,D,...,1.66,0.25,2.05,1.88,2.05,1.88,2.07,1.90,2.01,1.87